 

.react-autosuggest__container {
  position: relative;
  text-align: right;
  margin-bottom: .2rem;
 
}
.react-autosuggest__input {
  max-width: 400px;
  width: 100%;
  padding: 4px 10px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  border: 1px solid #aaa;
  opacity: 0.8;
  border-radius: 6px;
}
.react-autosuggest__input::placeholder {
  color: #000000;
  font-size: 1.1rem;
}

.react-autosuggest__input:focus {
  outline: none;
  
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  color:  #000000;
  opacity: 0.8;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  right: 0;
  top: 51px;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  z-index: 2;
 
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
   
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 10px;
  
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
  border-width: 100%;
  width: 100%;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
}

@media(max-width: 560px) {
  .more {
    .header__inner {
      margin-bottom: 1rem;
      .navigation .navLink + .navLink{ 
        margin-left: 0.5rem;
      
      }
      
    }
    .header-logo {
      display: none;
    }
  }
}
