.carousel-item {
   max-width: 160px;
   width: 100%;
   height:220px;
    margin-bottom: 3rem;
    border-radius: 3px;
    box-shadow: 0 4px 24px rgba(0,0,0,.2);
    img {
         width: 95%;
         height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.3s ease-out;
        &:hover {
           transform: scale(1.10);
           transition: all 0.3s ease-in; 
        }
    }
}

.carousel-suptitle {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.carousel-item {
    position: relative;

}
.rating {
 display: flex;
 justify-content: left;
 align-items: center;
 padding-left: 4px;
    width: 32px;
   height: 32px;
   border-radius: 50%;
   background-color: #57b589;
   opacity: 0.9;
    position: absolute;
    bottom: 5px;
    left: 5px;
    .percent-icon {
        position: absolute;
        top: 4px;
        right:5px;
        font-size: 0.7rem;
        color: #0a1f36;
    }
    span {
       
font-size: 0.9rem;
color: #020724;   
 }
    
}



@media(max-width: 850px) {
    .carousel-item {
       
      margin-left: 40px;
        
    
    }
}
@media(max-width: 570px) {
    .origin{
        .header-logo {
            display: none;
        }
    .carousel-item {
      margin-left: 40px;
    }
    .colection-title h1 {
          font-size: 2rem;   
        }
    .colection-title h3 {
          max-width:350px;
          font-size: 1.2rem;  
        }
       
    }
    .header__inner {
        padding-top: 1rem;
        font-size: 1rem;
    }
    
    .carousel-suptitle {
        
        text-align: center;
       }
         
}

@media(max-width: 360px) {
    .origin{
        .header-nav .navigation .navLink + .navLink {
            margin-left: 0.6rem;
       }

       .carousel-suptitle {
        font-size: 1rem;
        text-align: center;
       }
         
        
}

}